@import '_variables.scss';

body {
    width: 80%;
    margin: auto;

    header {
        background-color: beige;
        padding: 10px 0px;
    
        h1 {
            text-align: center;
        }
    }
}

h1, h2 {
    color: $primary;
}

#status {
    height: 80px;
    width: 593px;
    overflow: scroll;
}

.desc {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.img {
    height: 100px;
    width: 100px;
    border-radius: 5%;
}

